@import 'tailwindcss';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

.underline-slide{
  transition: color 0.3s ease-in-out;
}

.underline-slide::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #ef4444; /* Tailwind's red-500 */
  transition: width 0.3s ease-in-out;
}

.underline-slide:hover::after {
  width: 100%;
  /* color: #172030b6; */
}

.rotate{
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
