*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border: solid;
}

.phone {
    width: 200px;
    /* height: 400px; */
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px 5px 5px 5px;
    align-items: center;
    background: rgb(193, 238, 255);
}

#time {
    /* width: 80%; */
    font-size: 40px;
    font-weight: 700;
}
#bottom{
    font-size: 13px;
    font-weight: 500;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    /* position: absolute;
    top: 10%; */
}
#backBtn, #menuBtn{
    cursor: pointer;
}
#menuDate{
    font-size: 10px;
    font-weight: 400;
    font-family: sans-serif;
}

.displayMenu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: grid;
    place-items: center; */
}

.displayMenu,
.displayNumbers,
.displayApps {
    width: 90%;
    height: 180px;
    background: url(e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1.5px solid;
    margin: 0 auto;
    font-size: 35px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 3px;
    overflow: hidden;
    /* overflow-y: auto; */
}

.displayApps {
    display: none;
    background: linear-gradient(to top, navy, rgb(4, 4, 143),rgb(3, 3, 135), rgb(11, 27, 167), rgb(132, 155, 255));
}

.displayNumbers {
    display: none;
    text-align: right;
    word-break: break-all;
    background: rgb(2, 2, 29);
}

.nok {
    padding: 9px 0 0 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.nokia {
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}

.keys {
    width: 90%;
    margin: 0 auto;
    /* margin-top: 5px; */
}

#center {
    width: 40%;
}

#side {
    height: .5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 40%;
    cursor: default;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

tr {
    height: 40%;
}

.firstTable td {
    /* padding: 7px; */
    border: 7px solid rgb(193, 238, 255);
    background: black;
    color: #fff;
    text-align: center;
    border-bottom: none;
}

.table td {
    padding: 7px;
    border: 7px solid rgb(193, 238, 255);
    background: black;
    color: #fff;
    text-align: center;
    border-radius: 100px;
}