.products {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.products-container {
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products-h1 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
    margin: 10px 0;
}

.products-p {
    text-align: center;
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 50%;
    align-self: center;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #be9a24;
}

.filter-btn::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    background: #333;
    transition: height 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.filter-btn:hover::after {
    height: 100%;
}

.filter-btn.active::after {
    height: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: calc(25% - 40px);
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.product-card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-bottom: 2px solid #605757;
}

.price-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding-bottom: 20px;
    /* border: 1px solid red; */
}

.price-name p {
    /* border: 1px solid red; */
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.price-name span {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .products-p {
        width: 80%;
        font-size: 0.9rem;
    }

    .product-card {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .product-card {
        width: calc(50% - 40px);
    }
}